@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap");
lord-icon {
  width: 70px !important;
  height: 70px !important;
}

:root {
  --bck-color: #000;
  --pri-color: #1b74e4;
  --color: #d6d6dc;
  --title-color: #fff;
  --box-color: #16161d;
  --scroll-bar-color: #56556d;
  --scroll-thumb-color: #3b3a4a;
  --body-font: "Klee One", sans-serif;
  --body-font-size: 1rem;
  --h1-font-size: 3.1rem;
  --h2-font-size: 1.9rem;
  --h3-font-size: 1.7rem;
  --klee-one-bold: 600;
  --small-font-size: 0.6rem;
  --tangerine-bold: 700;
  --tangerine-font: "tangerine", cursive;
  --tangerine-h1-font-size: 3.8rem;
  --tangerine-h2-font-size: 2.5rem;
  --tangerine-h3-font-size: 2.5rem;
}

::-moz-selection {
  background: rgb(50, 173, 163);
  color: #fff;
}

::selection {
  background: rgb(50, 173, 163);
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
  font-size: var(--body-font-size);
}

img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

.button {
  align-items: center;
  background-color: var(--pri-color);
  border: 1px solid var(--title-color);
  border-radius: 0.25rem;
  color: var(--title-color);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: inline-flex;
  padding: 0.75rem 1.4rem;
  position: relative;
  z-index: 1;
}
.button::after {
  background-color: #343a40;
  border-radius: 0.25rem;
  content: "";
  inset: 0;
  position: absolute;
  transform-origin: center;
  transform: scale(0);
  transition: 0.3s;
  z-index: -1;
}
.button:hover::after {
  transform: scale(1);
  transition: 0.5s;
}
.button .button_icon {
  font-size: 1.25rem;
}

body {
  color: var(--color);
  font-family: "klee one", sans-serif;
  font-size: var(--body-font);
  background-color: var(--bck-color);
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 50px;
}

h1,
h2,
h3 {
  color: var(--title-color);
}

.section_title {
  font-size: var(--h2-font-size);
  margin-bottom: 15px;
  text-align: center;
}
.section_title::before {
  color: var(--pri-color);
  content: attr(data-heading);
  font-family: var(--tangerine-font);
  font-size: var(--tangerine-h2-font-size);
  display: block;
}

main {
  margin-top: 50px;
}

section {
  padding-inline: 20px;
  margin-bottom: 30px;
}

p,
button,
input,
li {
  font-size: var(--body-font-size);
  line-height: 1.5;
}

.header {
  background-color: var(--pri-color);
  border-bottom: 1px solid #fff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-inline: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.header .logo {
  color: var(--title-color);
  font-family: var(--tangerine-font);
  font-size: var(--h1-font-size);
  font-weight: var(--tangerine-bold);
}
.header .nav_bar {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  border-right: 1px solid #fff;
  bottom: 0;
  left: 0;
  padding: 15px;
  position: fixed;
  top: 50px;
  transform: translateX(-110%);
  transition: 0.7s linear;
  width: clamp(200px, 100vh, 280px);
  z-index: 10;
}
.header .nav_bar.active {
  transform: translateX(0);
}
.header .nav_bar .nav_link {
  border-bottom: 1px solid var(--color);
  color: var(--title-color);
  font-family: klee one, sans-serif;
  font-size: var(--body-font);
  padding-top: 20px;
  transition: 0.5s;
  width: 100%;
}
.header .nav_bar .nav_link:hover {
  font-weight: var(--klee-one-bold);
}
.header .over_lay {
  display: none;
}
.header .over_lay.active {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  inset: 0;
  position: fixed;
  z-index: 9;
}

.hamburger {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  border-radius: 5px;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 40px;
  z-index: 99;
}
.hamburger div {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 80%;
  width: 80%;
}
.hamburger span {
  background-color: var(--title-color);
  border-radius: 2px;
  height: 3px;
  position: absolute;
  transition: 0.5s;
  width: 100%;
}
.hamburger .stroke_1 {
  -webkit-animation: hamburgerAnimationStart1 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
          animation: hamburgerAnimationStart1 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  transform: translateY(-10px);
}
.hamburger .stroke_3 {
  -webkit-animation: hamburgerAnimationStart3 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
          animation: hamburgerAnimationStart3 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  transform: translateY(11px);
}
.hamburger.active .stroke_1 {
  -webkit-animation: hamburgerAnimation1 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
          animation: hamburgerAnimation1 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.hamburger.active .stroke_2 {
  width: 0;
}
.hamburger.active .stroke_3 {
  -webkit-animation: hamburgerAnimation3 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
          animation: hamburgerAnimation3 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.home {
  min-height: 100vh;
}
.home .home_image {
  padding-top: 35px;
}

.home_content .home_title {
  font-size: var(--h2-font-size);
  margin-top: 15px;
}
.home_content .home_title span {
  color: var(--pri-color);
  font-family: "tangerine", sans-serif;
  font-size: var(--tangerine-h2-font-size);
}
.home_content .home_subtile {
  font-size: var(--h3-font-size);
}
.home_content .home_intro {
  margin-block: 10px 30px;
}

.about_container {
  margin-top: 30px;
}
.about_container .about_image {
  margin-bottom: 15px;
}
.about_container .about_image img {
  border-radius: 10px;
}
.about_container .about_title {
  font-size: var(--h3-font-size);
}
.about_container .about_title span {
  color: var(--pri-color);
  font-family: "tangerine", sans-serif;
  font-size: clamp(2rem, 100%, var(--tangerine-h3-font-size));
}

.about_details {
  margin-block: 15px;
}
.about_details .about_lists {
  align-items: center;
  display: flex;
}
.about_details .about_lists i {
  color: var(--pri-color);
  font-size: 1.5rem;
  transform: translateY(2px);
}
.about_details .about_lists span {
  color: var(--title-color);
  font-size: 1rem;
  font-weight: var(--klee-one-bold);
  padding-right: 5px;
}

.accomplishments_container {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}
.accomplishments_container .accomplishmemt {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: var(--box-color);
  border: 1px solid var(--pri-color);
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
}
.accomplishments_container .accomplishmemt:hover {
  box-shadow: -3px -3px 5px rgba(214, 214, 220, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.5), 1px 1px 35px rgba(214, 214, 220, 0.2);
  transform: translate(2px, -2px);
}
.accomplishments_container .accomplishmemt .accomplishment_icon {
  flex: 1;
}
.accomplishments_container .accomplishmemt .accomplishment_icon i {
  font-size: 50px;
}

.skill_container {
  margin-top: 30px;
}

.skill {
  background-color: var(--box-color);
  border: 1px solid var(--pri-color);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}
.skill .skill_icon {
  color: var(--pri-color);
  font-size: 2.5rem;
}
.skill .skill_progressbar_details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.skill .progress_bar {
  border-radius: 3px;
  background-color: var(--bck-color);
  height: 6px;
}
.skill .progress_bar .progress {
  background-color: var(--pri-color);
  border-radius: 3px;
  display: block;
  height: 100%;
  position: relative;
}
.skill .progress_bar .progress::after {
  background-color: var(--title-color);
  border-radius: 10px;
  box-shadow: 0 0 15px 2px white;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}

.portfolio_status {
  font-family: "tangerine", sans-serif;
  font-size: 4rem;
  text-align: center;
}

@-webkit-keyframes hamburgerAnimation1 {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    width: 100%;
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes hamburgerAnimation1 {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    width: 100%;
  }
  100% {
    transform: rotate(-135deg);
  }
}
@-webkit-keyframes hamburgerAnimation3 {
  0% {
    transform: translateY(11px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    width: 100%;
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes hamburgerAnimation3 {
  0% {
    transform: translateY(11px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    width: 100%;
  }
  100% {
    transform: rotate(135deg);
  }
}
@-webkit-keyframes hamburgerAnimationStart3 {
  0% {
    transform: rotate(135deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translate(50%, 11px);
    width: 50%;
  }
}
@keyframes hamburgerAnimationStart3 {
  0% {
    transform: rotate(135deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translate(50%, 11px);
    width: 50%;
  }
}
@-webkit-keyframes hamburgerAnimationStart1 {
  0% {
    transform: rotate(-135deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translate(-50%, -10px);
    width: 50%;
  }
}
@keyframes hamburgerAnimationStart1 {
  0% {
    transform: rotate(-135deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translate(-50%, -10px);
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */